GEMINI_API_KEY=your_free_gemini_api_key_here
GEMINI_MODEL=gemini-2.0-flash
ARTIFACTS_TESTMODEL_DIR=Geonix-backend\dengue-warning\model
MODEL_PATH=Geonix-backend\dengue-warning\model\dengue_model.pkl
FEATURES_PATH=Geonix-backend\dengue-warning\model\features.pkl
SCALER_PATH=Geonix-backend\dengue-warning\model\scaler.pkl
